SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,testserver
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

SUPERADMIN_USERNAME=admin
SUPERADMIN_EMAIL=admin@farmhub.com
SUPERADMIN_PASSWORD=adminpassword123
